<main class="container bg-light px-5">

  <form [formGroup]="catchCategoryFormGroup" class="col-6 mx-auto">
    <h1 class="mb-4">Category Registration</h1>
    <div class="row mb-3">
      <div class="col">
        <label for="Category" class="form-label">Category:</label>
        <input
          type="text"
          formControlName="category"
          class="form-control"
          id="Category"
        />
      </div>
    </div>
    <div class="row">
      <button
        type="submit"
        (click)="submit()"
        class="btn btn-dark btn-lg btn-block"
      >
        Submit
      </button>
    </div>
  </form>
  <div class="p-5">
    <h3 class="mb-4 text-center">Category</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Category</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let catch of category">
          <th scope="row">#{{ catch.id }}</th>
          <td>{{ catch.category }}</td>
          <td class="d-flex gap-1">
            <button class="btn btn-success btn-sm" (click)="update(catch)">
              Edit
            </button>
            <button class="btn btn-danger btn-sm" (click)="delete(catch)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</main>
