<main class="container bg-light p-5">
  <form [formGroup]="catchFormGroup" class="col-6 mx-auto">
    <h1 class="mb-4">Product Registration</h1>
    <div class="row mb-3">
      <div class="col">
        <label for="Name" class="form-label">Name:</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="Name"
        />
      </div>
      <div class="col">
        <label for="Category" class="form-label">Category:</label>
        <select
          class="form-select"
          formControlName="categoryId"
          [compareWith]="compareCategory"
        >
          <option *ngFor="let catch of category" [ngValue]="catch.id">
            {{ catch.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="Description" class="form-label">Description:</label>
      <textarea
        class="form-control"
        formControlName="description"
        id="Description"
      ></textarea>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="Price" class="form-label">Price:</label>
        <input
          type="text"
          formControlName="price"
          class="form-control"
          id="price"
        />
      </div>
      <div class="col">
        <label for="Quantity" class="form-label">Quantity:</label>
        <input
          type="text"
          formControlName="quantity"
          class="form-control"
          id="quantity"
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-10">
        <div>
          <label class="form-check-label" for="active"> Periods:</label>
          <span *ngFor="let period of period">
            <input
              type="radio"
              formControlName="period"
              [value]="period"
              class="ms-3 me-1"
            />
            <label>{{ period }}</label>
          </span>
        </div>
      </div>
      <div class="col-2">
        <label class="form-check-label" for="active"> Check:</label>
        <input
          class="form-check-input ms-2"
          type="checkbox"
          value=""
          id="active"
          formControlName="active"
        />
      </div>
    </div>
    <div class="row">
      <button
        type="submit"
        (click)="submit()"
        class="btn btn-dark btn-lg btn-block"
      >
        Submit
      </button>
    </div>
  </form>
  <div class="p-5">
    <h3 class="mb-4 text-center">Products</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Status</th>
          <th scope="col">Periods</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let catch of product">
          <th scope="row">#{{ catch.id }}</th>
          <td>{{ catch.name }}</td>
          <td>{{ getCategoryName(catch.categoryId)?.name }}</td>
          <td>{{ catch.description }}</td>
          <td>R$ {{ catch.price }}</td>
          <td>{{ catch.quantity }}</td>
          <td>
            <span *ngIf="catch.active" class="badge text-bg-primary"
              >Check</span
            >
            <span *ngIf="!catch.active" class="badge text-bg-secondary"
              >NoCheck</span
            >
          </td>

          <td>{{ catch.period }}</td>
          <td class="d-flex gap-1">
            <button class="btn btn-success btn-sm" (click)="update(catch)">
              Edit
            </button>
            <button class="btn btn-danger btn-sm" (click)="delete(catch)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
