<p>product works!</p>
<main class="container vh-100 bg-light p-5">
  <form class="col-6 mx-auto">
    <h1>Student registration</h1>
    <div class="mb-3">
      <label for="registration" class="form-label">Registration:</label>
      <input type="text" class="form-control" id="registration" />
    </div>
    <div class="mb-3">
      <label for="Name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="Name" />
    </div>
    <div class="mb-3">
      <label for="Course" class="form-label">Course:</label>
      <input type="text" class="form-control" id="Course" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>
