<main class="container vh-100 bg-light p-5">
  <form class="col-6 mx-auto">
    <h1 class="mb-4">Product Registration</h1>
    <div class="row mb-3">
      <div class="col">
        <label for="id" class="form-label">ID:</label>
        <input type="text" class="form-control" id="id" />
      </div>
      <div class="col">
        <label for="Name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="Name" />
      </div>
    </div>
    <div class="mb-3">
      <label for="Description" class="form-label">Description:</label>
      <textarea class="form-control" id="Description"></textarea>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="Price" class="form-label">Price:</label>
        <input type="text" class="form-control" id="Price" />
      </div>
      <div class="col">
        <label for="Quantity" class="form-label">Quantity:</label>
        <input type="text" class="form-control" id="Quantity" />
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-dark btn-lg btn-block">
        Submit
      </button>
    </div>
  </form>
</main>
